@page
@model CommerceRazorDemo.Pages.Orders.DetailsModel

@{
    ViewData["Title"] = "Order Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Order Number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Customer)
        </dt>
        <dd class="col-sm-10">
            @String.Format("#{0}  {1}", Model.Order.Customer.Id, Model.Order.Customer.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderStatus.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Subtotal)
        </dt>
        <dd class="col-sm-10" >
            $@Html.DisplayFor(model => model.Order.Subtotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Tax)
        </dt>
        <dd class="col-sm-10" >
            $@Html.DisplayFor(model => model.Order.Tax)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            $@Html.DisplayFor(model => model.Order.TotalPrice)
        </dd>
        <dt class="col-sm-2">
            Products
        </dt>
        <dd class="col-sm-10">
            @Model.Order.Products.Count() Items
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Quantity</th>
                        <th>Price</th>                        
                    </tr>                    
                </thead>
                <tbody>
                    @foreach(var item in Model.Order.Products)
                    {
                        <tr>
                            <td>@item.Product.Title</td>
                            <td>@item.Quantity</td>
                            <td>@item.Product.Price</td>
                        </tr>
                    }                    
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
