@page
@model CommerceRazorDemo.Pages.Orders.DetailsModel

@{
    ViewData["Title"] = "Order Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Order Number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Id)
        </dd>
        <dt class="col-sm-2">
            Customer ID
        </dt>
        <dd class="col-sm-10">
            @Model.Order.Customer.Id
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Customer)
        </dt>
        <dd class="col-sm-10">
            @Model.Order.Customer.FullName<br />
            @Model.Order.Customer.Address1<br />
            @Model.Order.Customer.Address2<br />
            @String.Format("{0} {1} {2}", Model.Order.Customer.City, Model.Order.Customer.StateLocation.Abbreviation, Model.Order.Customer.PostalCode)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Subtotal)
        </dt>
        <dd class="col-sm-10" >
            $@Html.DisplayFor(model => model.Order.Subtotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Tax)
        </dt>
        <dd class="col-sm-10" >
            $@Html.DisplayFor(model => model.Order.Tax)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            $@Html.DisplayFor(model => model.Order.TotalPrice)
        </dd>
        <dt class="col-sm-2">
            Products
        </dt>
        <dd class="col-sm-10">
            @Model.Order.OrderProducts.Count() Items
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Quantity</th>
                        <th>Price</th>                        
                    </tr>                    
                </thead>
                <tbody>
                    @foreach(var item in Model.Order.OrderProducts)
                    {
                        <tr>
                            <td>@item.Product.Title</td>
                            <td>@item.Quantity</td>
                            <td>@item.Product.Price</td>
                        </tr>
                    }                    
                </tbody>
            </table>
        </dd>
        <dt class="col-sm-2">
            Status
        </dt>
        <dd class="col-sm-10">            
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Status</th>                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Order.OrderHistory.OrderByDescending(x => x.OrderDate))
                    {
                        <tr>
                            <td>@item.OrderDate</td>
                            <td>@item.OrderStatus.Name</td>                            
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
