@page
@using CommerceDemo.Data.Models
@model CommerceRazorDemo.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Orders";
    var userTimeZone = TimeZoneInfo.Local;
}

<section class="bg-dark py-1">
    <div class="container px-4 px-lg-5">
        <div class="text-left text-white">
            <h5 class="fw-bolder">@ViewData["Title"]</h5>
        </div>
    </div>
</section>

<section class="py-2">
    <div class="container px-4 px-lg-5 mt-5">

        <div class="row mt-4">
            <form class="form d-flex" method="get">
                
                <div class="col mx-1">
                    <input type="text" class="form-control" asp-for="OrderSearchId" placeholder="order id" />
                </div>

                <div class="col mx-1">
                    <input type="text" class="form-control" asp-for="CustomerSearchId" placeholder="customer id" />
                </div>

                <div class="col mx-1">
                    <select class="form-control" asp-items="@Model.OrderStatusSelect" asp-for="@Model.OrderStatusFilterId">
                        <option value="">ALL</option>
                    </select>
                </div>

                <div class="col mx-1">
                    <button type="submit" class="btn btn-outline-dark mt-auto text-center">Search</button>
                </div>
               
            </form>
        </div>

        <div class="row mt-4">
            <table class="table gx-2 gx-lg-2 mt-4">
                <thead>
                    <tr>
                        <th>Order #</th>
                        <th>Customer #</th>
                        <th>Ordered</th>
                        <th>Status</th>
                        <th>Updated</th>
                        <th>Process</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model.Orders)
                    {
                        var ordered = order.OrderHistory.FirstOrDefault(h => h.OrderStatusId == (int)OrderState.Processing);
                        var current = order.OrderHistory.OrderBy(h => h.OrderDate).Last();

                        <tr>
                            <td><a asp-page="./Details" asp-route-id="@order.Id" target="_blank" >@order.Id.ToString("D8")</a></td>
                            <td>@order.User.UserName</td>
                            <td>
                                @{
                                    if (ordered != null)
                                    {
                                        <span>@TimeZoneInfo.ConvertTimeFromUtc(ordered.OrderDate, userTimeZone)</span>
                                    }                                     
                                }
                            </td>
                            <td>@current.OrderStatus.Name</td>
                            <td>@TimeZoneInfo.ConvertTimeFromUtc(current.OrderDate, userTimeZone)</td>
                            <td>
                                @{
                                    var next = Model.ProcessStates.FirstOrDefault(item => item.Value == (current.OrderStatusId + 1).ToString());
                                    if (next != null)
                                    {
                                        <form method="post">
                                            <input type="hidden" value="@order.Id" name="orderId">
                                            <input type="hidden" value="@next.Value" name="orderStateId">
                                            <input type="hidden" value="@Model.OrderStatusFilterId" name="filterId" />
                                            <button type="submit" class="btn btn-outline-dark mt-auto text-center">@next.Text</button>
                                        </form>                                        
                                    }
                                }                                                             
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</section>

