@page
@model CommerceRazorDemo.Pages.OrderStatuses.IndexModel

@{
    ViewData["Title"] = "Order Status";
}

<h1>@ViewData["Title"]</h1>


<p>
    <form>
        <form>
            <div class="row">
                <div class="col-6">
                    <label class="form-label">Search</label>
                    <input type="text" class="form-control" asp-for="SearchString" placeholder="search title text" />
                </div>

            </div>
            <div class="row mt-3">
                <div class="col-4">
                    <input type="submit" class="form-control btn btn-primary" value="Filter" />
                </div>
            </div>
        </form>
    </form>
</p>
<div class="col-6">
<table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-page="Index" asp-route-sortOrder="@Model.NameSort">
                        @Html.DisplayNameFor(model => model.OrderStatus[0].Name)
                    </a>
                </th>
                <th style="text-align:right;">
                    Results: @Model.OrderStatus.Count()
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderStatus) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td style="text-align:right">
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                        </td>
                    </tr>
            }
        </tbody>
    </table>
</div>
