@page
@model CommerceRazorDemo.Pages.Shopping.CartModel
@{
    ViewData["Title"] = "Cart";
}


@if (Model.Products != null && Model.Products.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th></th>
            </tr>            
        </thead>
        <tbody>
            @foreach(var item in Model.Products)
            {
                <form method="post" asp-area="Shopping" asp-page="Cart" asp-page-handler="Edit" id="@($"form-{item.Id}")">
                <tr>
                    <td>
                        <a asp-page="Product" asp-route-id="@item.ProductId" >@item.Title</a>
                    </td>
                    <td>
                        <input asp-for="@item.Quantity" name="quantity" class="form-control" />
                        <span asp-validation-for="@item.Quantity" class="text-danger"></span>
                    </td>
                    <td>@Html.DisplayFor(m => item.Price)</td>
                    <td>@Html.DisplayFor(m => item.TotalPrice)</td>
                    <td>
                        <input type="hidden" id="orderId" name="orderId" value="@Model.OrderId" />
                        <input type="hidden" id="orderProductId" name="orderProductId" value="@item.Id" />
                        <button type="submit" name="action" value="update" class="btn bg-success" >Update</button>                            
                        <button type="submit" name="action" value="remove" class="btn bg-warning" >Remove</button>
                    </td>                    
                </tr>
                </form>
            }
        </tbody>
        <tfoot>
            <tr>
                <td align="left" colspan="2">Subtotal</td>
                <td align="right" colspan="2">@Html.DisplayFor(m => m.SubTotal)</td>
            </tr>
            <tr>
                <td align="left" colspan="2">Tax</td>
                <td align="right" colspan="2">@Html.DisplayFor(m => m.Tax)</td>
            </tr>
            <tr>
                <td align="left" colspan="2">Total Price</td>
                <td align="right" colspan="2">@Html.DisplayFor(m => m.TotalPrice)</td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </tfoot>
    </table>
}
else
{
    <h2> No items currently in cart</h2>
}

