@page
@model CommerceRazorDemo.Pages.Shopping.CheckoutModel
@{
}

<form method="post" class="form">
    <!-- Shipping-->
    <section class="py-2">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row">
                <hr class="col-12" />
                <h5 class="col-3">Shipping Address</h5>
                <div class="col-9">
                    <div>@Model.Order.Customer.FullName</div>
                    <div>@Model.Order.Customer.Address1</div>
                    @if(!String.IsNullOrEmpty(@Model.Order.Customer.Address2))
                    {
                        <div>@Model.Order.Customer.Address2</div>
                    }
                    <div>@($"{Model.Order.Customer.City}, {Model.Order.Customer.StateLocation.Abbreviation} {Model.Order.Customer.PostalCode}")</div>
                    <div>@Model.Order.Customer.EmailAddress</div>
                    <div>@Model.Order.Customer.PhoneNumber</div>
                </div>
            </div>
        </div>
    </section>

    <!-- Payment-->
    <section class="py-2">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row">
                <hr class="col-12" />
                <h5 class="col-3">Payment Method</h5>
                <div class="col-9">
                    <div class="col-6 mt-2">
                        <label asp-for="@Model.CardName" class="form-label">Name on card</label>
                        <input asp-for="@Model.CardName" placeholder="full name as it appears on card" class="form-control" />
                        <span asp-validation-for="@Model.CardName" class="text-danger text-sm-start"></span>
                    </div>
                    <div class="col-6 mt-2">
                        <label asp-for="@Model.CardNumber" class="form-label">Credit card number</label>
                        <input asp-for="@Model.CardNumber" placeholder="0000 0000 0000 0000" class="form-control" />
                        <span asp-validation-for="@Model.CardNumber" class="text-danger text-sm-start"></span>
                    </div>
                    <div class="col-6 mt-2"></div>
                    <div class="row">
                        <div class="col-md-3">
                            <label asp-for="@Model.CardExpiration" class="form-label">Expiration</label>
                            <select asp-for="@Model.CardExpiration" asp-items="@Model.Expirations" class="form-control"></select>
                            <span asp-validation-for="@Model.CardExpiration" class="text-danger text-sm-start"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="@Model.CardCCV" class="form-label">CVV</label>
                            <input asp-for="@Model.CardCCV" class="form-control" placeholder="000" />
                            <span asp-validation-for="@Model.CardCCV" class="text-danger text-sm-start"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <!-- Order Products -->
    <section class="py-2">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row">
                <hr class="col-12" />
                <h5 class="col-3">Items</h5>
                <div class="col-9">

                    <table class="table gx-2 gx-lg-2 mt-2">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th class="text-end">Qty</th>
                                <th class="text-end">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Order.OrderProducts)
                            {
                            <tr>
                                <td><img class="" src="https://dummyimage.com/90x60/dee2e6/6c757d.jpg" alt="@item.Product.Title" /></td>
                                <td>
                                    <!-- Product name-->
                                    <a href="">
                                            <h5 class="fw-bolder">@item.Product.Title</h5>
                                    </a>
                                    <!-- Brand-->
                                        <p class="fw-bolder">@item.Product.Brand</p>
                                </td>

                                <td class="align-middle text-end">
                                    <!-- qty-->
                                        <div class="fw-bolder">@item.Quantity</div>
                                </td>
                                <td class="align-middle text-end">
                                    <!-- Product price-->
                                        <div class="fw-bolder">@Html.DisplayFor(m => item.Price)</div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </section>

    <!-- summary & checkout -->
    <section class="py-4 mb-2">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row">
                <hr class="col-12" />
                <div class="col-2">
                    <input type="hidden" asp-route-orderId="@Model.Order.Id"/>
                    <button type="submit" class="btn btn-warning btn-lg">Place Order</button>                    
                </div>
                <div class="col-10">
                    <div class="row">
                        <h4 class="text-danger col-8">Order Total @Html.DisplayFor(m => m.Order.TotalPrice)</h4>
                        <div class="col-4">
                            <div class="row row-cols-2">
                                <div class="col text-end">@($"Items({Model.Order.OrderProducts.Count()})")</div>
                                <div class="col text-end">@Html.DisplayFor(m => m.Order.Subtotal)</div>
                                <div class="col text-end underline">Tax</div>
                                <div class="col text-end underline">@Html.DisplayFor(m => m.Order.Tax)</div>
                                <div class="col text-end">Order Total</div>
                                <div class="col text-end">@Html.DisplayFor(m => m.Order.TotalPrice)</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

</form>
                            