@page
@model CommerceRazorDemo.Pages.Shopping.OrdersModel
@{
    ViewData["Title"] = "Orders";
    var userTimeZone = TimeZoneInfo.Local;
}

<section class="bg-dark py-1">
    <div class="container px-4 px-lg-5">
        <div class="text-left text-white">
            <h5 class="fw-bolder">@ViewData["Title"]</h5>
        </div>
    </div>
</section>

<!-- Order Products -->
<section class="py-2">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row">
            <hr class="col-12" />
            <h5 class="col-3">Order History</h5>
            <div class="col-9">

                <form class="form">

                    <div class="row justify-content-end">
                        <div class="col-2">
                            <select class="form-control" asp-for="StatusFilterId" asp-items="Model.StatusList">
                                <option value="">ALL</option>
                            </select>
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn btn-outline-dark mt-auto">Filter</button>
                        </div>
                    </div>
                </form>
                                
                <table class="table gx-2 gx-lg-2 mt-4">
                    <thead>
                        <tr>
                            <th>Order #</th>
                            <th>Ordered</th>
                            <th>Status</th>
                            <th>Updated</th>
                            <th>Items</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model.Orders)
                        {
                            var ordered = order.OrderHistory.First(h => h.OrderStatusId == (int)Models.OrderState.Processing);
                            var current = order.OrderHistory.OrderBy(h => h.OrderDate).Last();                           

                            <tr>
                                <td><a asp-page="Order" asp-route-orderId="@order.Id">@order.Id.ToString("D8")</a></td>
                                <td>@TimeZoneInfo.ConvertTimeFromUtc(ordered.OrderDate, userTimeZone)</td>
                                <td>@current.OrderStatus.Name</td>
                                <td>@TimeZoneInfo.ConvertTimeFromUtc(current.OrderDate, userTimeZone)</td>
                                <td>@order.OrderProducts.Count()</td>
                                <td>@Html.DisplayFor(o => order.TotalPrice)</td>                                
                            </tr>                        
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</section>