@page
@model CommerceRazorDemo.Pages.Shopping.SearchModel

@{
    ViewData["Title"] = "Shopping";
}

<!-- Section Search bar-->
<vc:product-search></vc:product-search>


<!-- Section Search Results -->
<section class="py-2">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row">
            <h4>Search Results:&nbsp;
                @if (String.IsNullOrEmpty(Model.CategoryName) && String.IsNullOrEmpty(Model.SearchString))
                {
                    <text>ALL</text>
                }
                else
                {
                    if (!String.IsNullOrEmpty(Model.CategoryName))
                    {
                        <text>@Model.CategoryName</text>
                    }

                    if(!String.IsNullOrEmpty(Model.SearchString))
                    {
                        if (!String.IsNullOrEmpty(Model.CategoryName))
                        {
                            <text> - </text>
                        }

                        <text>@Model.SearchString</text>
                    }
                }
            </h4>
        </div>


        <div class="row ">

            <table class="table">
                <tbody>
                    @foreach (var product in Model.Products)
                    {
                        <tr>
                            <td><img class="" src="https://dummyimage.com/225x150/dee2e6/6c757d.jpg" alt="@product.Title" /></td>
                            <td>
                                <!-- Product name-->
                                <a asp-page="Product" asp-route-id="@product.Id">
                                    <h5 class="fw-bolder">@product.Title</h5>
                                </a>
                                <!-- Brand-->
                                <p class="fw-bolder">@product.Brand</p>
                                <!-- Product Description-->
                                <p>@product.Description</p>

                            </td>
                            <td class="align-middle text-end">
                                <!-- Product price-->
                                <div class="fw-bolder">$@product.Price</div>
                            </td>
                            <td class="align-middle text-end">
                                <!--TODO customer id-->
                                <form asp-page="Cart" method="post" asp-route-customerId="1" asp-route-productId="@product.Id" asp-route-quantity="1">
                                    <button type="submit" class="btn btn-outline-dark mt-auto text-center text-nowrap">Add to cart</button>
                                </form>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>


        </div>
    </div>
</section>