@page
@model CommerceRazorDemo.Pages.Shopping.IndexModel

@{
    ViewData["Title"] = "Shopping";
}

<h1>Shopping</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Brand)
            </th>
            <th>
                Category
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Products) {
        <tr>
            <td>
                <a asp-area="" asp-page="./Product" asp-route-id="@item.Id">@item.Title</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategory.Title)
            </td>               
        </tr>
}
    </tbody>
</table>
