@page
@model CommerceRazorDemo.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Products";
}

<section class="bg-dark py-1">
    <div class="container px-4 px-lg-5">
        <div class="text-left text-white">
            <h5 class="fw-bolder">@ViewData["Title"]</h5>
        </div>
    </div>
</section>

<section class="py-2">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row ">


            <div class="row mt-4">
                <div class="col-10">
                    <form class="d-flex">                       
                        <div class="row row-cols-2">
                            <div class="col">
                                <label class="form-label" asp-for="SearchString">Search</label>
                                <input type="text" class="form-control" asp-for="SearchString" placeholder="search text" />
                            </div>
                            <div class="col">
                                <label class="form-label" asp-for="ActiveFilterId">Active</label>
                                <select class="form-control" asp-for="ActiveFilterId" asp-items="Model.ActiveStatus">
                                    <option value="">ALL</option>
                                </select>
                            </div>

                            <div class="col">
                                <label class="form-label" asp-for="BrandFilterString">Brand</label>
                                <select class="form-control" asp-for="BrandFilterString" asp-items="Model.Brands">
                                    <option value="">ALL</option>
                                </select>
                            </div>
                            <div class="col">
                                <label class="form-label" asp-for="CategoryFilterId">Category</label>
                                <select class="form-control" asp-for="CategoryFilterId" asp-items="Model.Categories">
                                    <option value="">ALL</option>
                                </select>
                            </div>
                            
                            <div class="col"></div>
                            <div class="col mt-2 text-end">
                                <input type="submit" class="form-control btn btn-outline-dark mt-auto text-center" value="Filter" />
                            </div>
                        </div>                  
                    </form>
                </div>
                <div class="col-2 text-end">
                    <a asp-page="./Edit" class="btn btn-outline-dark mt-auto text-center">Create New Product</a>                   
                </div>
            </div>


            <div class="row mt-4">
                <table class="table">
                <thead>
                    <tr>
                        <th>
                            <a asp-page="./Index" asp-route-sortOrder="@Model.TitleSort">
                                @Html.DisplayNameFor(model => model.Product[0].Title)
                            </a>                
                        </th>
                        <th>
                            <a asp-page="./Index" asp-route-sortOrder="@Model.BrandSort">
                                @Html.DisplayNameFor(model => model.Product[0].Brand)
                            </a>
                        </th>
                        <th>
                            <a asp-page="./Index" asp-route-sortOrder="@Model.ModelNumberSort">
                                @Html.DisplayNameFor(model => model.Product[0].ModelNumber)
                            </a>
                        </th>
                        <th>
                            <a asp-page="./Index" asp-route-sortOrder="@Model.CategorySort">
                                Category
                            </a>
                        </th>
                                    <th>
                            <a asp-page="./Index" asp-route-sortOrder="@Model.PriceSort">
                                @Html.DisplayNameFor(model => model.Product[0].Price)
                            </a>
                        </th>
                        <th>
                            <a asp-page="./Index" asp-route-sortOrder="@Model.QuantitySort">
                                Available
                            </a>
                        </th>
                        <th>             
                                Active                
                        </th>
                        <th style="text-align:right;">
                            Results: @Model.Product.Count()
                        </th>            
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model.Product) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Brand)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModelNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductCategory.Title)
                        </td>
                                <td class="text-end">
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td class="text-end">
                            @Html.DisplayFor(modelItem => item.AvailableQty)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>           
                        <td class="text-end">
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                        </td>
                    </tr>
            }
                </tbody>
            </table>
            </div>
        </div>
    </div>
</section>
