@page
@model CommerceRazorDemo.Pages.ProductCategories.IndexModel

@{
    ViewData["Title"] = "Product Categories";
}

<section class="py-2">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row ">
            <h4>@ViewData["Title"]</h4>
            <hr />
        </div>

        <div class="row mt-4">
            <div class="col">
                <form class="d-flex">
                    <input type="text" class="form-control" asp-for="SearchString" placeholder="search category name" />
                    <button type="submit" class="btn btn-outline-dark mt-auto text-center">Search</button>                           
                </form>
            </div>
            <div class="col text-end">
                <a asp-page="Edit" class="btn btn-outline-dark mt-auto text-center">Create New Category</a>
            </div>
        </div>
                   
           
        <div class="row mt-4">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <a asp-page="Index" asp-route-sortOrder="@Model.TitleSort">
                                @Html.DisplayNameFor(model => model.ProductCategories[0].Title)
                            </a>
                        </th>
                        <th>
                            Category ID
                        </th>
                        <th style="text-align:right;">
                            Results: @Model.ProductCategories.Count()
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ProductCategories)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @item.Id
                            </td>
                            <td style="text-align:right;">
                                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</section>
